<p><%= @cart %></p>

<table class="table table-striped">
	<tr>
		<th>Item</th>
		<th>Quantity</th>
	</tr>
	<% @cart.each do |item| %>
	<tr>
		<td>
			<% item.name %>
		</td>
		<td>
			1
		</td>
	</tr>
	<% end %>
</table>